<section>
  <h1>About gzruby</h1>
  <p><strong>gzruby</strong> is a group for ruby developers in Guangzhou, China. It is open to anyone interested in the ruby programming language, the Ruby on Rails web development framework, or even web development in general.  </p>

<p>We try to meet on the third wednesday, every other month. We'll post announcements here for upcoming meetings or other events. If you want to learn more, please join our <a href="http://groups.google.com/group/gzruby">mailing list</a>.
	
	</p>
</section>
