<section>
  	<h1>关于gzruby</h1>
  	<p>
	  	<strong>gzruby</strong>是由中国广州Ruby开发者组成的一个团体。如果你对Ruby编程语言或者Ruby on Rails网站开发框架，
	  	甚至只是单纯地对网站开发感兴趣，都欢迎加入我们！<br />
  		<strong>gzruby</strong> is a group for ruby developers in Guangzhou, China. It is open to anyone interested in 
  		the ruby programming language, the Ruby on Rails web development framework, or even web development in general.  
	</p>

	<p>
		我们初定每隔一个月的第三个周三举行一次聚会。最新聚会或者相关活动的详细信息，我们都会事先在此公布。
		欲了解更多详情，<a href="https://groups.google.com/forum/?fromgroups#!forum/gzruby">请订阅我们的邮件列表</a>。<br />
		We try to meet on the third wednesday, every other month. We'll post announcements here for upcoming meetings 
		or other events. If you want to learn more, please join our <a href="https://groups.google.com/forum/?fromgroups#!forum/gzruby">mailing list</a>.
	</p>
</section>
